.auth-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth-header{
    padding-top: 4rem;
    width: 90%;
}

.auth-header picture{
    display: none;
}

.slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan img{
    width: 6rem;
}
.slogan h1{
    font-weight: var(--fw-sbold);
    font-size: 2.5rem;
    color: var(--clr-Green-Primary);
}

.auth-footer{
    margin-top: auto;
    width: 100%;
    min-height: 10rem;
    background-image: url('/ecoconnect/public/assets/images/FundoInicial-mobile.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}

@media (max-height: 760px){
    .auth-footer{
        display: none;
    }
}





