.auth-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.auth-header{
    padding-top: 2rem;
    width: 90%;
}

.auth-header picture{
    display: none;
}

.slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan img{
    width: 3rem;
}

.auth-footer img{
    width: 100%;
    min-height: 240px;
    max-height: 240px;
    display: block;
}





