

.auth-form-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-top: 2rem;
}

.auth-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 1rem;
}

.nome-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.nome-group label{
    padding-bottom: 0.2rem;
    font-size: 0.8rem;
    font-weight: var(--fw-sbold);
}

.nome-icon{
    position: relative;
    width: 100%;
}

.nome-icon input{
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    height: 2.5rem;
    border-radius: 0.6rem;
}

.nome-icon img{
    position: absolute;
    left: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
}

.nome-erro{
    color: red;
    opacity: 0;
    visibility: hidden;

    transition: 0.3s ease;
}
.nome-erro.show{
    opacity: 1;
    visibility: visible;
}

.email-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.email-group label{
    padding-bottom: 0.2rem;
    font-size: 0.8rem;
    font-weight: var(--fw-sbold);
}

.email-icon{
    position: relative;
    width: 100%;
}

.email-icon input{
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    height: 2.5rem;
    border-radius: 0.6rem;
}

.email-icon img{
    position: absolute;
    left: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
}

.email-erro{
    color: red;
    opacity: 0;
    visibility: hidden;

    transition: 0.3s ease;
}
.email-erro.show{
    opacity: 1;
    visibility: visible;
}

.password-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
}

.password{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.password label{
    padding-bottom: 0.2rem;
    font-size: 0.8rem;
    font-weight: var(--fw-sbold);
}

.password-icon{
    position: relative;
    width: 100%;
}

.password-icon input{
    width: 100%;
    padding-left: 3rem;
    padding-right: 0.5rem;
    height: 2.5rem;
    border-radius: 0.6rem;
}

.cadeado-icon{
    position: absolute;
    left: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.8rem;
}

.show-password-icon{
    display: none;
    position: absolute;
    right: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
}

.confirm-password{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.confirm-password label{
    padding-bottom: 0.2rem;
    font-size: 0.8rem;
    font-weight: var(--fw-sbold);
}

.confirm-password-icon{
    position: relative;
    width: 100%;
}

.confirm-password-icon input{
    width: 100%;
    padding-left: 3rem;
    padding-right: 0.5rem;
    height: 2.5rem;
    border-radius: 0.6rem;
}

.password-erro{
    color: red;
    opacity: 0;
    visibility: hidden;

    transition: 0.3s ease;
}

.password-erro.show{
    opacity: 1;
    visibility: visible;
}

.confirm-password-erro{
    color: red;
    opacity: 0;
    visibility: hidden;

    transition: 0.3s ease;
}
.confirm-password-erro.show{
    opacity: 1;
    visibility: visible;
}
.auth-form button{
    width: 80%;
    color: var(--clr-White);
    font-size: 2rem;
    background-color: var(--clr-Green-Primary);
    border-color: var(--clr-Green-Primary);
    border-radius: 0.6rem;
}

.auth-redirect{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-redirect a{
    font-weight: var(--fw-sbold);
    color: var(--clr-Green-Primary);
}

.criar-conta-mensagem{
    display: none;
}

@media (max-width: 768px){
    .auth-header{
    padding-top: 0.5rem;
    }
}

@media (min-width: 768px){
    .auth-form-section{
        min-height: 100%;
        justify-content: center;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.05);
    }

    .auth-redirect{
        flex-direction: row;
        gap: 0.6rem;
    }
    .criar-conta-mensagem{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .criar-conta-mensagem h2{
        font-size: 2rem;
        font-weight: var(--fw-sbold);
        color: var(--clr-Green-Primary);
    }
}